<div class="flex flex-column h-fit py-5">
    <div class="border-1 border-dashed border-gray-400 w-fit mx-auto p-2 text-center">
        Copy your unique code: <span class="font-bold text-purple-300">{{ownerShipCode}}</span>
    </div>
    <p-accordion [activeIndex]="0">
        <p-accordionTab header="1. Create a new Public playlist">
            <div class="flex flex-row w-full">
                <p-image 
                    src="https://firebasestorage.googleapis.com/v0/b/lebai-c181c.appspot.com/o/documentation%2Fspotrecs-tut-createplaylist.png?alt=media&token=376541d1-b7d6-4203-adee-b27e27a17ecd" 
                    class="w-[40%] mx-auto"
                    [preview]="true" />
                <p-image 
                    src="https://firebasestorage.googleapis.com/v0/b/lebai-c181c.appspot.com/o/documentation%2Fspotrecs-tut-createplaylist2.png?alt=media&token=05184c65-e16d-4655-b011-3e58c7007aba" 
                    class="w-[40%] mx-auto"
                    [preview]="true" />
            
            
            </div>
        </p-accordionTab>
        <p-accordionTab header="2. Use your unique code as the playlist title.">                            
            <p-image 
                src="https://firebasestorage.googleapis.com/v0/b/lebai-c181c.appspot.com/o/documentation%2Fspotrecs-tut-insertcode.png?alt=media&token=ee045e19-6cbc-4b94-a875-ab6dd8657f67"
                class="w-[40%] mx-auto"
                [preview]="true" />
        </p-accordionTab>
    </p-accordion>
    <button pButton pRipple type="button" (click)="verifyAccountOwnership()" label="Test account ownership" class="mt-4 p-button-success p-button-text p-button-rounded w-fit p-2 mx-auto"></button>
    <div class="mt-3 text-yellow-300 text-center text-xs mx-auto w-[50%]">
       <i class="pi pi-exclamation-triangle text-yellow-300 text-sm"></i> (Might have to wait a minute for the name change to get processed in spotify)
    </div>
</div>
